/*-------------------------Base Styles----------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

label.contact {
  margin-bottom: 10px;
}



h1 {
     text-align: center;
     background-color: rgba(1, 9, 29, 0.899);
     color: white;
     padding: 30px;
}

section {
    text-align: center;
    padding-top: 0px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 17px;
}

hr {
    height:9px;
    border-top:4px solid black;
    border-bottom:2px solid black;
    width: 93%;
    margin: auto;
}

h2 {
    padding-left: 18px;
    padding-top: 0;;
    padding-bottom: 5px;

}



  

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="addy"],
input[type="city"],
input[type="state"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 3px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="email"],
input[type="telephone"],
input[type="addy"],
input[type="city"],
input[type="state"],
input[type="text"],
        ::placeholder { 
          text-align: right;
        }

                 
  
  
#zip {
    background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  display: block;
}


input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4b64c9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 93%;
  border: 1px solid #3a45c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

label.light {
  font-weight: 300;
  display: inline;
}

legend {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 10px;
  
  margin-top: 15px;
}

input:focus {
  background-color: #0c2350;
  border:1px solid #ccc;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

#zip:focus {
  background-color: #0c2350;
  border:1px solid #ccc;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

select:focus {
  background-color: ivory;
}

.placeholder {
  text-align: right;
}

div {
  background-color: #64069e2b;
}

h3 {
  text-align: center;
  margin-bottom: 100px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgb(232, 243, 25);

  border: 1px solid rgb(31, 228, 81);
}


/*-------------------------Media Query----------------*/

@media (min-width: 768px) {

  form {
    max-width: 768px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  

  fieldset {
    max-width: 100%;
    
    padding: 10px 20px;
    background: #64069e2b;
    border-radius: 8px;
}

  hr {
  height:9px;
  border-top:4px solid black;
  border-bottom:2px solid black;
  width: 95%;
  margin: auto;
}
 
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="addy"],
input[type="city"],
input[type="state"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0 30px;
  outline: 0;
  padding: 15px;
  width: 70%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}



label.contact {
  display: inline-block;
  width: 100px;
}



#zip {
  background: rgba(255,255,255,0.1);
border: none;
font-size: 16px;
height: auto;
margin: 0;
outline: 0;
padding: 15px;
width: 25%;
background-color: #e8eeef;
color: #8a97a0;
box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
margin-bottom: 30px;
margin-left: 30px;
display: inline-block;
}


button {
  
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4b64c9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #3a45c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  display: block;
  margin-left: auto;
  margin-right: auto
}

legend {
  font-size: 2em;
  margin: 10px 0px;
  padding: 10px 0px;
}

h3 {
  text-align: center;
  margin-bottom: 100px;
}

input:focus {
  background-color: #0c2350;
  border:1px solid #ccc;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
 
}

 